/*=========================================================================
Stylesheet for nikiDE
file: style.css
created: 21.04.2022
updated: 21.04.2022
author: Nicole Gottschall
==========================================================================*/





/*=========================================================================
Variables
==========================================================================*/

/*=========================================================================
General Styles
==========================================================================*/
body {
  padding: 85px 25%;
}

/*=========================================================================
Layout
==========================================================================*/
h1 {
  text-align: center;
  margin-bottom: 55px;
}

/*=========================================================================
Image Settings
==========================================================================*/

/*=========================================================================
Others
==========================================================================*/
