/*=========================================================================
Stylesheet for nikiDE
file: style.css
created: 21.04.2022
updated: 21.04.2022
author: Nicole Gottschall
==========================================================================*/





/*=========================================================================
Variables
==========================================================================*/

/*=========================================================================
General Styles
==========================================================================*/
body {
  line-height: 23px;
  padding: 175px 25% 85px;
}

h1 {
  text-align: center;
  margin-bottom: 55px;
}

/*=========================================================================
Layout
==========================================================================*/
.header {
  text-align: center;
  margin: 0 auto 90px;
}

.footer {
  text-align: center;
}

/*=========================================================================
Image Settings
==========================================================================*/
.banner {
  width: 550px;
  height: auto;
}

/*=========================================================================
Others
==========================================================================*/
hr {
  margin: 50px 30px 20px;
}
